<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
<div class="bg-color">
  <div class="containers">
    <div class="title">
      <div class="header-content">
        <section class="bg-color">
        <div class="containers">
          <img src="https://cdn-icons-png.flaticon.com/512/6928/6928508.png" alt="Icono tienda online" class="icono-tienda" />
           <div class="title">
             <h1>{{ title }} <span>{{ highlight }}</span></h1>
             <p>{{ subtitle }}</p>
           </div>
        </div>
        </section>    
      </div>
      <svg class="divider" viewBox="0 0 100 2" preserveAspectRatio="none">
        <line x1="0" y1="1" x2="100" y2="1" stroke="#ccc" stroke-width="1" />
      </svg>
    </div>
  </div>
</div>